# Ignore node_modules everywhere
node_modules/

# Ignore log files
*.log

# Ignore build artifacts
dist/
build/

# Ignore Expo and Metro cache
.expo/
.expo-shared/
.cache/
web-build/

# Ignore system files
.DS_Store
Thumbs.db

